In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from IPython.display import clear_output


import pickle

In [3]:
BHP_train = pd.read_csv(r"/Users/dhananjay/Desktop/Dhananjay c&p/BHP/Bengaluru_House_Data.csv")

# Analyzing Data

In [4]:
BHP_train.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00

In [5]:
BHP_train.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [6]:
for i in BHP_train.columns:
       if BHP_train[i].dtype=="O":
            print(i)

area_type
availability
location
size
society
total_sqft

In [7]:
BHP_train["area_type"].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [8]:
BHP_train["availability"].value_counts()

Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64

In [9]:
BHP_train["location"].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [10]:
"Whitefield" in BHP_train["location"].value_counts()[:30].index

True

In [11]:
index = 0
for i in BHP_train["location"]:
    if i in BHP_train["location"].value_counts()[:30].index:
        pass
    else:
        BHP_train["location"][index]=np.NaN
    index+=1
    
clear_output()

In [12]:
BHP_train.isnull().sum()

area_type          0
availability       0
location        8648
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [13]:
BHP_train = BHP_train.drop(["society"],axis=1)

In [14]:
BHP_train.isnull().sum()

area_type          0
availability       0
location        8648
size              16
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [15]:
BHP_train["balcony"].value_counts()

2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64

In [16]:
BHP_train["balcony"].fillna(2.0,inplace=True)

In [17]:
BHP_train.isnull().sum()

area_type          0
availability       0
location        8648
size              16
total_sqft         0
bath              73
balcony            0
price              0
dtype: int64

In [18]:
BHP_train["bath"].value_counts()

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

In [19]:
BHP_train["bath"].fillna(2.0,inplace=True)

In [20]:
BHP_train.isnull().sum()

area_type          0
availability       0
location        8648
size              16
total_sqft         0
bath               0
balcony            0
price              0
dtype: int64

In [21]:
BHP_train["size"].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [22]:
BHP_train["size"].fillna("2 BHK",inplace=True)

In [23]:
BHP_train.isnull().sum()

area_type          0
availability       0
location        8648
size               0
total_sqft         0
bath               0
balcony            0
price              0
dtype: int64

# Size column
<pre> replace all other words to BHK

In [24]:
BHP_train = BHP_train.dropna()

In [25]:
for i in set(BHP_train["size"]):
    BHP_train["size"].replace(i,i.split(" ")[0],inplace=True)

In [26]:
BHP_train["size"].value_counts()

2    2083
3    1783
4     420
1     248
5      68
6      34
8      14
7      14
9       8
Name: size, dtype: int64

In [27]:
BHP_train.head(5)

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2,1056,2.0,1.0,39.07
2,Built-up Area,Ready To Move,Uttarahalli,3,1440,2.0,3.0,62.00
5,Super built-up Area,Ready To Move,Whitefield,2,1170,2.0,1.0,38.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4,3300,4.0,2.0,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3,1310,3.0,1.0,63.25

In [28]:
BHP_train.drop(["availability"],axis=1,inplace=True)

In [29]:
BHP_train.head(5)

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2,1056,2.0,1.0,39.07
2,Built-up Area,Uttarahalli,3,1440,2.0,3.0,62.00
5,Super built-up Area,Whitefield,2,1170,2.0,1.0,38.00
7,Super built-up Area,Rajaji Nagar,4,3300,4.0,2.0,600.00
8,Super built-up Area,Marathahalli,3,1310,3.0,1.0,63.25

# Label Encoding

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le = LabelEncoder()
BHP_train["area_type"] = le.fit_transform(BHP_train["area_type"])

In [32]:
le1 = LabelEncoder()
BHP_train["location"] = le1.fit_transform(BHP_train["location"])

In [33]:
BHP_train.head(5)

   area_type  location size total_sqft  bath  balcony   price
0          3         7    2       1056   2.0      1.0   39.07
2          0        26    3       1440   2.0      3.0   62.00
5          3        27    2       1170   2.0      1.0   38.00
7          3        21    4       3300   4.0      2.0  600.00
8          3        19    3       1310   3.0      1.0   63.25

In [34]:
BHP_train["area_type"].nunique()

4

In [35]:
le.inverse_transform(range(BHP_train["area_type"].nunique()))

array(['Built-up  Area', 'Carpet  Area', 'Plot  Area',
       'Super built-up  Area'], dtype=object)

In [36]:
le1.inverse_transform(range(BHP_train["location"].nunique()))

array(['7th Phase JP Nagar', 'Banashankari', 'Bannerghatta Road',
       'Begur Road', 'Bellandur', 'Chandapura', 'Electronic City',
       'Electronic City Phase II', 'Electronics City Phase 1',
       'Haralur Road', 'Harlur', 'Hebbal', 'Hennur Road', 'Hoodi',
       'Hormavu', 'KR Puram', 'Kanakpura Road', 'Kasavanhalli', 'Kengeri',
       'Marathahalli', 'Raja Rajeshwari Nagar', 'Rajaji Nagar',
       'Ramamurthy Nagar', 'Sarjapur', 'Sarjapur  Road', 'Thanisandra',
       'Uttarahalli', 'Whitefield', 'Yelahanka', 'Yeshwanthpur'],
      dtype=object)

In [37]:
loc=['7th Phase JP Nagar', 'Banashankari', 'Bannerghatta Road',
       'Begur Road', 'Bellandur', 'Chandapura', 'Electronic City',
       'Electronic City Phase II', 'Electronics City Phase 1',
       'Haralur Road', 'Harlur', 'Hebbal', 'Hennur Road', 'Hoodi',
       'Hormavu', 'KR Puram', 'Kanakpura Road', 'Kasavanhalli', 'Kengeri',
       'Marathahalli', 'Raja Rajeshwari Nagar', 'Rajaji Nagar',
       'Ramamurthy Nagar', 'Sarjapur', 'Sarjapur  Road', 'Thanisandra',
       'Uttarahalli', 'Whitefield', 'Yelahanka', 'Yeshwanthpur']

In [38]:
loc.index("Raja Rajeshwari Nagar")

20

In [39]:
le1.inverse_transform([20])

array(['Raja Rajeshwari Nagar'], dtype=object)

In [40]:
BHP_train.columns

Index(['area_type', 'location', 'size', 'total_sqft', 'bath', 'balcony',
       'price'],
      dtype='object')

# Total_sqft column
<ul><li> removing null data
    <li> Optimizing waste data

In [41]:
BHP_train["total_sqft"]

0        1056
2        1440
5        1170
7        3300
8        1310
         ...
13311    1500
13312    1262
13313    1345
13315    3453
13317    1141
Name: total_sqft, Length: 4672, dtype: object

In [44]:
for i in BHP_train["total_sqft"]:
    if str(i).isnumeric():
        pass        
    else:
        print(i)
clear_output()

In [45]:
for i in BHP_train["total_sqft"]:
    if "-" in str(i):
        s = i.split(" - ")
        m = (float(s[0])+float(s[1]))//2
        BHP_train["total_sqft"].replace(i,m,inplace=True)

In [46]:
for i in BHP_train["total_sqft"]:
    if str(i).isalnum() and str(i).isnumeric()==False:
        BHP_train["total_sqft"].replace(i,np.NaN,inplace=True)

In [47]:
BHP_train = BHP_train.dropna()

In [48]:
for i in BHP_train["total_sqft"]:
    if str(i).isalnum() and str(i).isnumeric()==False:
        print(i)

In [49]:
for i in BHP_train["total_sqft"]:
    if str(i)[-1].isalpha():
        BHP_train["total_sqft"].replace(i,np.NaN,inplace=True)

In [50]:
BHP_train = BHP_train.dropna()

In [51]:
BHP_train["total_sqft"] = BHP_train["total_sqft"].astype("float64")

In [52]:
k = list(set(BHP_train["total_sqft"]))

In [53]:
k.sort()

In [54]:
BHP_train["total_sqft"]

0        1056.0
2        1440.0
5        1170.0
7        3300.0
8        1310.0
          ...
13311    1500.0
13312    1262.0
13313    1345.0
13315    3453.0
13317    1141.0
Name: total_sqft, Length: 4662, dtype: float64

# Defining I/P and O/P

In [55]:
ip = BHP_train.drop(["price"],axis=1)
op = BHP_train.price

In [56]:
ip.shape , op.shape

((4662, 6), (4662,))

In [ ]:
acc_list = []
for i in range(10001):
    x_train,x_test,y_train,y_test = train_test_split(ip,op,test_size=0.1,random_state=i)
    model = LinearRegression()
    model.fit(x_train,y_train)
    acc_list.append(model.score(x_test,y_test))

print(acc_list.index(max(acc_list)))

# Splitting the Data

<ul> <li>Splitting the data for training and testing

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(ip,op,test_size=0.1,random_state=5077)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

# Model selection:
<ul><li> We will be using Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(x_train,y_train)

# Accuracy Checking

In [ ]:
model.score(x_test,y_test)

# Model Saving

<ul><li> Using pickle we will create a .pickle file to store the Model for the future Use.

In [ ]:
import pickle

In [ ]:
pickle.dump(model, open(r"/Users/dhananjay/Desktop/Dhananjay c&p/Frontend/price_prediction/model1.pickle", 'wb'))